In [9]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
import string

In [7]:
caption_data = pd.read_csv('../data/Flickr30K/images/results.csv', sep='|')

In [8]:
caption_data.head()

,image_name,comment_number,comment
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...
1,1000092795.jpg,1,"Two young , White males are outside near many..."
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .
4,1000092795.jpg,4,Two friends enjoy time spent together .

In [16]:
#Function to tokenize, convert to lower case and remove punctuation
def preprocess_text(text):
    # Check if the input is a string
    if not isinstance(text, str):
        return []

    # Tokenize the text
    tokens = word_tokenize(text)

    # Convert to lowercase
    tokens = [word.lower() for word in tokens]

    # Remove punctuation
    table = str.maketrans('', '', string.punctuation)
    tokens = [word.translate(table) for word in tokens]

    return tokens

In [17]:
caption_data["clean_captions"] = caption_data["comment"].apply(preprocess_text)

In [14]:
#change the column name 
caption_data.rename(columns={' comment': 'comment'}, inplace=True)